<h1>Olá, <%= @pedido.nome %>!</h1>
<p>Já pode comemorar, seu minion está reservado e aguardando por você! </p>
<p><strong>Dados do pedido:</strong></p>
<p>Nome: <%= @pedido.nome %></p>
<p>Email: <%= @pedido.email %></p>
<p>Cor: <%= @pedido.cor %></p>
<p>Quantidade: <%= @pedido.quantidade %></p>
<br />
<p>Obrigado por comprar conosco!</p>