<%= form_with(model: pedido, local: true, class: "needs-validation was-validated") do |form| %>            
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
                <h4 class="modal-title">Preencha o formulário abaixo para finalizar sua reserva</h4> 
            </div> 
            <div class="modal-body"> 
              <% if pedido.errors.any? %>
                <div class="row"> 
                    <div class="col-md-12">               
                      <div id="error_explanation">
                        <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>
                  
                        <ul>
                        <% pedido.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
              <% end %>            
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="form-group"> 
                            <label for="nome" class="control-label">Nome Completo</label> 
                            <!--<input type="text" class="form-control" id="nome" placeholder="João da Silva">-->
                            <%= form.text_field :nome, id: :pedido_nome, class: "form-control", placeholder: "João da Silva", :required => true %>
                        </div> 
                    </div> 
                </div> 
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="form-group"> 
                            <label for="email" class="control-label">Email</label> 
                            <!--<input type="text" class="form-control" id="email" placeholder="joao@teste.com.br"> -->
                            <%= form.email_field :email, id: :pedido_email, class: "form-control", placeholder: "joao@teste.com.br", :required => true %>
                        </div> 
                    </div> 
                </div> 
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="form-group"> 
                            <label for="cor" class="control-label">Cor</label> 
                            <!--
                            <select id="cor" class="form-control">
                                <option value="Amarelo">Amarelo</option>
                                <option value="Verde">Verde</option>
                                <option value="Azul">Azul</option>
                            </select>
                            -->
                            <%= form.select :cor, ['Amarelo', 'Verde', 'Azul'], {}, { :class => "form-control", id: "cor" } %>
                        </div> 
                    </div> 
                </div>                 
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="form-group"> 
                            <label for="quantidade" class="control-label">Quantidade</label> 
                            <!--<input type="text" class="form-control" id="quantidade"> -->
                            <%= form.number_field :quantidade, id: :pedido_quantidade, min: 1, max: 99, value: 1, class: "form-control", :required => true %>
                        </div> 
                    </div> 
                </div> 
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Fechar</button> 
                <input type="submit" name="commit" class="btn btn-success waves-effect waves-light" value="Reservar">
            </div> 
<% end %>
