<div class="row">
   <div class="col-xs-12">
     
       <div class="card-box product-detail-box">
           <div class="row">     
            
              <p id="notice"><%= notice %></p>
              
              
              <h1>Pedidos</h1>
              
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Cor</th>
                    <th>Quantidade</th>
                    <th></th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @pedidos.each do |pedido| %>
                    <tr>
                      <td><%= pedido.nome %></td>
                      <td><%= pedido.email %></td>
                      <td><%= pedido.cor %></td>
                      <td><%= pedido.quantidade %></td>
                      <td><%= link_to 'Ver', pedido %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              
              <br>
              
              <%= link_to 'Volar ao portal', new_pedido_path %>
          </div>
      </div>
  </div>
</div>