<div class="row">
   <div class="col-xs-12">
       <div class="card-box product-detail-box">
           <div class="row">
               <div class="col-sm-4">
                   <div class="sp-wrap">
                       <%= image_tag("minion.png", id: "imgPrincipal", width: '318') %>
                   </div>
               </div>

               <div class="col-sm-8">
                   <div class="product-right-info">
                       <h3><b>Boneco de pelúcia minion Stuart</b></h3>
                       <div class="rating">
                            <ul class="list-inline">
                                <li><a class="fa fa-star" href=""></a></li>
                                <li><a class="fa fa-star" href=""></a></li>
                                <li><a class="fa fa-star" href=""></a></li>
                                <li><a class="fa fa-star" href=""></a></li>
                                <li><a class="fa fa-star-o" href=""></a></li>
                            </ul>
                        </div>

                       <h2> <b>R$ 49,99</b><small class="text-muted m-l-10"><del>R$ 59,99</del> </small></b></h2>
                       <hr/>

                        <h5 class="font-600">Cor</h5>
                        <div class="row">
                            <div class="col-sm-1 inline">
                                 <%= image_tag("minion.png", id: "filtroAmarelo", class: "cursorPointer changeColor filtroAmarelo", width: "32") %>
                            </div>
                            <div class="col-sm-1 inline">
                                 <%= image_tag("minion.png", id: "filtroVerde", class: "cursorPointer changeColor filtroVerde", width: "32") %>
                            </div>                        
                            <div class="col-sm-1 inline">
                                 <%= image_tag("minion.png", id: "filtroAzul", class: "cursorPointer changeColor filtroAzul", width: "32") %>
                            </div>
                        </div>

                        <hr />
                        
                       <h5 class="font-600">Descrição</h5>

                       <p class="text-muted">
                            Boneco de Pelucia Minions 30CM<br />
                            O Boneco de Pelúcia Minion Stuart é um verdadeiro sucesso entre as crianças de todas as idades e também entre os adultos. <br />
                            O boneco do Filme Meu Malvado Favorito, é super simpático, macio e fofinho, deixando a brincadeira ainda mais divertida. <br />
                            Possui certificação de segurança do INMETRO proporcionando segurança e diversão garantida para os pequenos.<br />
                            
                            Observe atentamente a idade recomendada para o brinquedo. Pode conter partes pequenas que podem ser engolidas e perigosas.
                       </p>


                       <div class="m-t-30">
                           <button class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal" data-animation="slide" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
                                <span class="btn-label"><i class="fa fa-shopping-cart"></i></span> Reservar                               
                           </button>

                       </div>
                   </div>
               </div>
           </div>
           <!-- end row -->

           <div class="row m-t-30">
               <div class="col-xs-12">
                   <h4><b>Especificações:</b></h4>
                   <div class="table-responsive m-t-20">
                       <table class="table">
                           <tbody>
                               <tr>
                                   <td width="400">Fabricante</td>
                                   <td>
                                       Estrela
                                   </td>
                               </tr>
                               <tr>
                                   <td>Material</td>
                                   <td>
                                       Pelúcia
                                   </td>
                               </tr>
                               <tr>
                                   <td>Altura</td>
                                   <td>
                                       30cm
                                   </td>
                               </tr>
                               <tr>
                                   <td>Largura</td>
                                   <td>
                                       10cm
                                   </td>
                               </tr>
                               <tr>
                                   <td>Peso</td>
                                   <td>
                                       1.2kg
                                   </td>
                               </tr>
                               <tr>
                                   <td>Modelo:</td>
                                   <td>
                                       ABC2019
                                   </td>
                               </tr>
                               <tr>
                                   <td>Idade recomendada</td>
                                   <td>
                                      A partir de 3 anos
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>


       </div> <!-- end card-box/Product detai box -->
       
       
<div id="con-close-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            
            <%= render 'form', pedido: @pedido %>

        </div> 
    </div>
</div><!-- /.modal -->          
       
   </div> <!-- end col -->
</div> <!-- end row -->