<div class="row">
   <div class="col-xs-12">
     
       <div class="card-box product-detail-box">
           <div class="row">     

            <div class="alert alert-success alert-dismissible show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <p id="notice"><%= notice %></p>
            </div>
            
            <p>
              <strong>Nome:</strong>
              <%= @pedido.nome %>
            </p>
            
            <p>
              <strong>Email:</strong>
              <%= @pedido.email %>
            </p>
            
            <p>
              <strong>Cor:</strong>
              <%= @pedido.cor %>
            </p>
            
            <p>
              <strong>Quantidade:</strong>
              <%= @pedido.quantidade %>
            </p>
            
            <%= link_to 'Voltar ao portal', new_pedido_path %>
         </div>
     </div>
     
   </div>
</div>
