<!DOCTYPE html>
<html>
  <head>
    <title>Minion Store - Reserve já seu Minion</title>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

    <%= csrf_meta_tags %>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    
    
    <!-- Bootstrap core CSS -->
    
    
    <!-- CSS for layout -->
    <%= stylesheet_link_tag "core.css" %>
    <%= stylesheet_link_tag "pages.css" %>
    
    
    <!-- Custom fonts for this template -->
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">    
    

  </head>

  <body class="container-fluid">
    
  <header class="bg-red small text-center text-white-50">
    <div class="container">
      <div class="logo">Minion Store</div>
    </div>
  </header>
  
  <%= yield %>
  

  <!-- Footer -->
  <footer class="small text-center text-white-50">
    <div class="container">
      Minion Store &copy; <br />
      Avenida Presidente Vargas, 123<br />
      Tel: (21) 9999-9999<br />
      <%= link_to 'Área restrita', pedidos_path %>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "bootstrap.bundle.min.js" %>
  <%= javascript_include_tag "pedidos.js" %>
    
  </body>
</html>
